body{
	background-color: black;
}

.navbar{
   display: flex;
  flex-direction: row;
  align-items: stretch;
  margin: 10px;
  padding: 10px;
  background-color: aqua;


}

.logo img{
margin-top:0px;
padding:0px;
height:60px;
width:60px;
margin-bottom:-10px;
margin-left:10px;
border: 2px solid;
border-radius: 50%;
border-color: blue;

}

.navbar a{
	margin:10px;
	padding:10px;
	margin-left:30px;
	border:2px solid;
	border-color: black;
	align-content: center;
	overflow: hidden;
	color: black;
	background-color:#4CAF50;
	text-decoration: none;


}

.logout
{   margin: 10px;
	padding: 10px;
	margin-left:900px;

}


.logout a{	

	color: black;
	background-color:#4CAF50;
	font-size: 20px;
	font-family: "Times New Roman", Times, serif;	

}

.welcome{
	display: flex;
	flex-direction:row;
	margin: 10px;
  padding: 10px;
  background-color: aqua;

}
.welcome .background{
	width: 100%;
  height: 400px
  padding:10px;
  margin:10px;

}
.welcome .background img{
  background-image: url("beach.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 400px;
  background-size: cover;
  
}
.welcome a{
	position: absolute;
	background-color:#4CAF50;
	border:5px solid;
	border-color: white;
	top: 60%;
  left: 45.4%;
  padding: 15px;
  font-size: 40px;
  color: white;
  display: inline-block;
  text-decoration: none;

}

.services{
  display: flex;
  flex-direction: row;
  margin:10px;
  padding:10px;
  background-color: aqua;
  height:400px; 

}

.services a{
	position: absolute;
	background-color: #4CAF50;

	padding:10px;
	border:5px solid;
	border-color: white;
	top: 80%;
  left: 44.5%;
  font-size: 40px;
  color: white;
  text-decoration: none;

}
.services .Tech{
	position: absolute;
	background-color: red;
	top: 100%;
    left: 20%;
    width:200px;
    height:200px;
    text-align:center;
    border-style: solid;
    border-width: 5px;

}

.services .Dance
{
	position: absolute;
	background-color: red;
	top: 100%;
    left: 45.5%;
    width:200px;
    height:200px;
    text-align:center;
    border-style: solid;
    border-width: 5px;
}

.services .Cycling	
{
	position: absolute;
	background-color: red;
	top: 100%;
    left: 70%;
    width:200px;
    height:200px;
    text-align:center;
    border-style: solid;
    border-width: 5px;

}

.footer
{ 
  display: flex;
  flex-direction: row;
  margin:10px;
  padding:10px;
  background-color: aqua;
  height:200px; 
}

.footer .contact
{
  margin:20px;
  padding:10px;
}